// Video Background Styles
.videoBgLayout {
    #introBanner {
        .overlay {
            background: transparent url(../img/pattern.png) repeat top left;
        }
    }
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        @include translate(-50%, -50%);
        background: url(../img/background.jpg) no-repeat;
        background-size: cover;
    }
    .stopfade {
        opacity: 0.5;
    }
    #contact {
        .overlay {
            background: transparent url(../img/pattern.png) repeat top left;
        }
        &.videoBackground {
            background: none;
        }
    }
}