/*For example,
you might change some of the default colors: */

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #179f87 !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444444 !default;
$light-dark: #333333 !default;
$light-grey: #F0F0F0 !default;
$dark-grey: #666666 !default;
$light-black: #808488 !default;
$light-red: #FF6863 !default;
$dark-red: #F44336 !default;
$teal: #009688 !default;
$blue-grey: #37474f;
// Font Styles 
$font-family-roboto: Roboto, Helvetica, Arial, sans-serif !default;
